
# PATH 
<%=
export <<-"PATH"
$HOME/bin
$HOME/.rbenv/bin
$HOME/.pyenv/bin
PATH
%>

# export
export GIT_EDITOR=vim
export VIM=<%= vim %>
export VIMRUNTIME=<%= vimruntime %>
export RUBYLIB="$HOME/lib/ruby:$RUBYLIB"
## for pyenv
export CONFIGURE_OPTS="--enable-shared" 

# alias
alias open="xdg-open"
alias sl="sl -e"
alias LS="sl"

<%= cstm %>

#################### ssh Login prompt #####################
# Set DISPLAY ENV?
if [ "${SSH_CLIENT}" != "" ]; then
  echo ""
  echo -n 'Set $DISPLAY To localhost:N.0 ? [0,1... / n] >>'
  read input

  if [ "${input}" != "n" -a "${input}" != "" ]; then
    export DISPLAY="localhost:${input}.0"
  fi
fi

# Tmux select
<%= rcfile_path %>/tmux.rb
