
########################### ALIAS ##################
alias ls='ls -F --color'

########################### EXPORTS ##################
export PATH=$PATH:$HOME/bin
export TERM=xterm-256color

<%= custom <<-"CUSTOM"
CUSTOM
%>
