# color
autoload colors 
colors

# prompt
local info="%B%F{green}%n%f%F{red}@%f%F{cyan}%m%f%b" 
local prom="%B%(?,%F{green},%F{red})%(!, #>, $>)%f%b" 
local dir=$'\n'"%B%F{yellow}[%~]%f%b"$'\n' 
PROMPT="${dir}${info}${prom}"


# ls
export LSCOLORS=gxfxcxdxbxegedabagacag
export LS_COLORS='di=36;40:ln=35;40:so=32;40:pi=33;40:ex=31;40:bd=34;46:cd=34;43:su=30;41:sg=30;46:tw=30;42:ow=30;46'

# 補完候補もLS_COLORSに合わせて色が付くようにする
zstyle ':completion:*:default' list-colors ${(s.:.)LS_COLORS}

# lsがカラー表示になるようエイリアスを設定
case "${OSTYPE}" in
			linux*)
			  # Linux
			  alias ls='ls -F --color'
			  ;;
esac


# 補完
autoload -U compinit
compinit

########################### alias
alias dartium="dartium --allow-file-access-from-files"
alias google-chrome="google-chrome --allow-file-access-from-files"

########################### exports
#export HAXE_STD_PATH="$HOME/haxe/std:." # the ':.' part is important
#export HAXE_HOME="$HOME/haxe"
#export PATH="$HAXE_LIBRARY_PATH:$HAXE_HOME:$PATH"
export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/usr/local/cuda/lib64"
export PATH="$HOME/.nvm/versions/node/v0.12.0/bin:$HOME/.nvm:/usr/local/cuda/bin:$PATH"
export PI="192.168.1.28"
export PI2="192.168.1.33"
export BBB="192.168.1.23"
export LC_ALL=ja_JP.UTF-8
export LANG=ja_JP.UTF-8
export PATH=${PATH}:${HOME}/Android/Sdk/tools:${HOME}/Android/Sdk/platform-tools
export PATH="$PATH:$HOME/sources/esp/xtensa-esp32-elf/bin"
## CUDA
export PATH=/usr/local/cuda-9.1/bin:${PATH}
export LD_LIBRARY_PATH=/usr/local/cuda-9.1/lib64:${LD_LIBRARY_PATH}

# pyenv
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"


#nvm
#. ~/.nvm/nvm.sh
# alias get_nvm=". ~/.nvm/nvm.sh"

#################### ALIAS ################
alias sudo="sudo -E"
alias open="xdg-open"
alias here="./"
alias gcc="gcc -Wall"
alias sl="sl -e"

########################### EXPORTS ##################
export PATH=$PATH:~/bin:~/.local/bin
export PATH="$HOME/.rbenv/bin:$PATH:$HOME/usr/local/redpen/bin"
export RUBYLIB="$RUBYLIB:$HOME/lib/ruby"
export JAVA_HOME=/usr/lib/jvm/java-8-oracle
export RBENV_ROOT="$HOME/.rbenv"
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"


################ Command not Found ####################
# source /etc/zsh_command_not_found


# History
HISTFILE=~/.zsh_history
HISTSIZE=2000
SAVEHIST=2000
setopt hist_ignore_dups     # ignore duplication command history list
setopt share_history        # share command history data

source $HOME/.asdf/asdf.sh              
source $HOME/.asdf/completions/asdf.bash

<%= custom <<-"CUSTOM"
CUSTOM
%>
